blockchain_chaincode_activate.json
[{"id":"2c321a34.91ef36","type":"inject","z":"9a330d10.eed85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":120,"wires":[["b8574d6c.03c55"]]},{"id":"b8574d6c.03c55","type":"function","z":"9a330d10.eed85","name":"user info","func":"var copiedUrl = \"https://15d6fa4315ce4d9ca0cf2915a0829178-vp0.us.blockchain.ibm.com:5002\"\nmsg.url = copiedUrl + \"/registrar\";\nmsg.payload =  {\n    \"enrollId\":\"user_type1_0\",\n    \"enrollSecret\":\"9465b3ce17\"\n}\ncontext.global.set(\"url\",copiedUrl)\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["68ec1b35.8b1b24"]]},{"id":"68ec1b35.8b1b24","type":"http request","z":"9a330d10.eed85","name":"","method":"POST","ret":"txt","url":"","tls":"","x":570,"y":120,"wires":[["6c9c3e7f.42f4e"]]},{"id":"6c9c3e7f.42f4e","type":"debug","z":"9a330d10.eed85","name":"","active":true,"console":"false","complete":"true","x":790,"y":120,"wires":[]},{"id":"94e646a4.20c018","type":"inject","z":"9a330d10.eed85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":300,"wires":[["1c8dc5eb.a1a78a"]]},{"id":"1c8dc5eb.a1a78a","type":"function","z":"9a330d10.eed85","name":"codechain info","func":"msg.url = context.global.get(\"url\")+\"/chaincode\";\nmsg.payload ={\n \n  \"jsonrpc\": \"2.0\",\n \n  \"method\": \"deploy\",\n \n  \"params\": {\n \n    \"type\": 1,\n \n    \"chaincodeID\": {\n \n      \"path\": \"https://github.com/ibm-watson-iot/blockchain-samples/contracts/basic/simple_contract.0.6\"\n \n    },\n    \"ctorMsg\": {\n      \"function\": \"init\",\n      \"args\": [\n      '{\"version\":\"1.0\"}'\n    ]\n    },\n \n    \"secureContext\": \"user_type1_0\"\n \n  },\n \n  \"id\": 1\n \n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["90b115f2.61c568"]]},{"id":"90b115f2.61c568","type":"http request","z":"9a330d10.eed85","name":"","method":"POST","ret":"txt","url":"","tls":"","x":590,"y":300,"wires":[["fb6c58fa.6f7768","95da1080.5faaf"]]},{"id":"fb6c58fa.6f7768","type":"debug","z":"9a330d10.eed85","name":"","active":true,"console":"false","complete":"true","x":770,"y":300,"wires":[]},{"id":"b788a4aa.01ab58","type":"comment","z":"9a330d10.eed85","name":"Register the user","info":"","x":200,"y":60,"wires":[]},{"id":"903338ab.da5548","type":"comment","z":"9a330d10.eed85","name":"Deploy the chain code ","info":"","x":232.5,"y":232,"wires":[]},{"id":"95da1080.5faaf","type":"function","z":"9a330d10.eed85","name":"","func":"var chainCodeID = JSON.parse(msg.payload)[\"result\"][\"message\"];\ncontext.global.set(\"chainCodeID\",chainCodeID);\nmsg.payload = chainCodeID\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":340,"wires":[["967274da.0d1f38"]]},{"id":"967274da.0d1f38","type":"debug","z":"9a330d10.eed85","name":"","active":true,"console":"false","complete":"payload","x":930,"y":340,"wires":[]},{"id":"9b3fa19d.6a8ed","type":"inject","z":"9a330d10.eed85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":440,"wires":[["51cb0fc0.04de5"]]},{"id":"51cb0fc0.04de5","type":"http request","z":"9a330d10.eed85","name":"","method":"GET","ret":"txt","url":"https://abiyzim.internetofthings.ibmcloud.com/api/v0002/blockchain/activate?code=1","tls":"","x":470,"y":440,"wires":[["81313135.990c2"]]},{"id":"81313135.990c2","type":"debug","z":"9a330d10.eed85","name":"","active":true,"console":"false","complete":"true","x":670,"y":440,"wires":[]},{"id":"277aa011.98ac6","type":"comment","z":"9a330d10.eed85","name":"enable block chain in Watson IoT Platform","info":"","x":280,"y":400,"wires":[]}]
