virtual_device_simulator_flow.json
[{"id":"ddc716e0.2d9de8","type":"tab","label":""},{"id":"30860f9a.92847","type":"tab","label":"Monitoring Flow"},{"id":"74bdb3d4.b4b2dc","type":"tab","label":"Alert Configuration"},{"id":"47e9d82.ebb7d28","type":"tab","label":"Virtual Thermostat"},{"id":"ab2f41ca.c5315","type":"tab","label":"Simulation Dashboard"},{"id":"d61a783c.a84378","type":"subflow","name":"Alarm/Alert check","info":"","in":[{"x":63,"y":109,"wires":[{"id":"80618813.729398"}]}],"out":[{"x":751,"y":111,"wires":[{"id":"9efcb2d8.fcf77","port":1},{"id":"9efcb2d8.fcf77","port":0}]},{"x":1044,"y":195,"wires":[{"id":"da6e93b7.ccaa2","port":0}]}]},{"id":"cbfba788.027318","type":"subflow","name":"Alert Service Engineer","info":"","in":[{"x":70.44444274902344,"y":98.11110305786133,"wires":[{"id":"14af587f.ba6f48"}]}],"out":[]},{"id":"65fd5785.5acea8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c5181fc8.4082d","type":"cloudant","z":"30860f9a.92847","host":"https://60e6399c-2278-4b67-b6e6-dcb75924dd4f-bluemix:666db1c15b79d1a4900fb59d83d46f4a8685b44cd0a0fcdfdf9879c9579f455f@60e6399c-2278-4b67-b6e6-dcb75924dd4f-bluemix.cloudant.com","name":"db"},{"id":"f3a55e66.978ca","type":"ui_group","z":"","name":"Thermostat Status","tab":"c03f7aab.f5db38","order":1,"disp":true,"width":"6"},{"id":"33f85600.a8b24a","type":"ui_tab","z":"","name":"Alert","icon":"dashboard","order":2},{"id":"950a665.74d4d98","type":"Device Schema","z":"","deviceType":"Thermostat","props":[{"guid":"7c896d407b7f","name":"ActualTemperature","defaultValue":{"type":"num","value":"32"}},{"guid":"50347ee435f0","name":"DesiredTemperature","defaultValue":{"type":"num","value":"23"}},{"guid":"be6df8b37d4d","name":"Location","defaultValue":{"type":"str","value":"Store1: Room1"}},{"guid":"059f72daa821","name":"assetID","defaultValue":{"type":"str","value":"1234"}}],"evts":[{"guid":"a0f0dab2a891","name":"getActualTemperature","payload":{"properties":{"0":"7c896d407b7f","length":1,"prevObject":{"0":"7c896d407b7f","length":1,"prevObject":{"0":{},"length":1,"prevObject":{"0":{"sizzle1491392585859":{"parentNode":[37186,51,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"length":1},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}}}},{"guid":"f5e261ed3706","name":"getAll","payload":{"properties":{"0":"7c896d407b7f","1":"50347ee435f0","2":"be6df8b37d4d","3":"059f72daa821","length":4,"prevObject":{"0":"7c896d407b7f","1":"50347ee435f0","2":"be6df8b37d4d","3":"059f72daa821","length":4,"prevObject":{"0":{},"1":{},"2":{},"3":{},"length":4,"prevObject":{"0":{"sizzle1491392585859":{"parentNode":[37187,51,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"length":1},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}}}},{"guid":"db8c816b19bb","name":"getDesiredTemperature","payload":{"properties":{"0":"50347ee435f0","length":1,"prevObject":{"0":"50347ee435f0","length":1,"prevObject":{"0":{},"length":1,"prevObject":{"0":{"sizzle1491392585859":{"parentNode":[37188,51,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"length":1},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}}}},{"guid":"8c11465b27e5","name":"getLocation","payload":{"properties":{"0":"be6df8b37d4d","length":1,"prevObject":{"0":"be6df8b37d4d","length":1,"prevObject":{"0":{},"length":1,"prevObject":{"0":{"sizzle1491392585859":{"parentNode":[37189,51,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"length":1},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}}}}]},{"id":"aec68e25.3b5fd","type":"ui_tab","z":"ab2f41ca.c5315","name":"Simulation","icon":"dashboard","order":1},{"id":"eacf1283.e122b","type":"ui_group","z":"ab2f41ca.c5315","name":"Thermostat Simulation","tab":"aec68e25.3b5fd","disp":false,"width":"22"},{"id":"6fcb09b.9a4d5f8","type":"ui_group","z":"74bdb3d4.b4b2dc","name":"Alert Configuration","tab":"33f85600.a8b24a","order":2,"disp":true,"width":"8"},{"id":"c03f7aab.f5db38","type":"ui_tab","z":"","name":"Status ","icon":"dashboard","order":3},{"id":"9efcb2d8.fcf77","type":"switch","z":"d61a783c.a84378","name":"AlarmConditionCheck","property":"payload.data","propertyType":"msg","rules":[{"t":"gt","v":"CutOutTemperature","vt":"global"},{"t":"lt","v":"CutInTemperature","vt":"global"}],"checkall":"true","outputs":2,"x":547,"y":110,"wires":[[],[]]},{"id":"80618813.729398","type":"function","z":"d61a783c.a84378","name":"SetDefaultNormalTemperatures","func":"if(!context.global.hasOwnProperty(\"CutOutTemperature\"))\n    context.global.CutOutTemperature=20;\nif(!context.global.hasOwnProperty(\"CutInTemperature\"))\n    context.global.CutInTemperature=10;\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":109,"wires":[["9efcb2d8.fcf77","df3751fd.80f9e"]]},{"id":"df3751fd.80f9e","type":"switch","z":"d61a783c.a84378","name":"GreaterThanCutInTemperature","property":"payload.data","propertyType":"msg","rules":[{"t":"gt","v":"CutInTemperature","vt":"global"}],"checkall":"true","outputs":1,"x":576,"y":195,"wires":[["da6e93b7.ccaa2"]]},{"id":"da6e93b7.ccaa2","type":"switch","z":"d61a783c.a84378","name":"LessThanCutOutTemperature","property":"payload.data","propertyType":"msg","rules":[{"t":"lt","v":"CutOutTemperature","vt":"global"}],"checkall":"true","outputs":1,"x":863,"y":195,"wires":[[]]},{"id":"47251de6.053a84","type":"comment","z":"d61a783c.a84378","name":"Alert Condition Check","info":"","x":544,"y":158,"wires":[]},{"id":"b2701484.6aa2c8","type":"comment","z":"d61a783c.a84378","name":"Alarm Condition Check","info":"Alarms and Alerts are raised as per the value\nof the current temperature .They are influenced \nby fllowing parameters.\n1.CutIn Temperature.\n2.CutOut temperature.\n\nIf temperature is lower than CutIn temperature \nand higher than CutOut temperature Alarms\nwill be raised .\n\nIf temperature is between CutIn and CutOut \ntemperature Alerts will be raised","x":119,"y":51,"wires":[]},{"id":"14af587f.ba6f48","type":"function","z":"cbfba788.027318","name":"CofiugureEmailID","func":"if(context.global.hasOwnProperty(\"email\"))\n    msg.to=context.global.email;\nelse{\n    //This is a dummy email id\n    context.global.email=\"monitoringserviceengineer@yourorg.com\";\n    msg.to=context.global.email;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":225.44444274902344,"y":98.11110305786133,"wires":[["8d33ace7.bb1b1"]]},{"id":"76e6b1d3.450ce","type":"e-mail","z":"cbfba788.027318","server":"smtp.gmail.com","port":"465","name":"","dname":"ServiceEngineerAlert","x":933.3333206176758,"y":92.11112213134766,"wires":[]},{"id":"75b35fe3.af03","type":"switch","z":"cbfba788.027318","name":"AlertNecessityCheck","property":"data","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":695,"y":98.22221946716309,"wires":[["76e6b1d3.450ce"],[]]},{"id":"8d33ace7.bb1b1","type":"function","z":"cbfba788.027318","name":"AlertFrequencyCheck","func":"\n\nif(context.global.hasOwnProperty(\"LastMessageTime\")){\n    var now = ( new Date() ).getTime();\n    var lastMessageTime=context.global.LastMessageTime;\n    var alertFrequencyChange=context.global.alertFrequencyChange;\n    if ((now-lastMessageTime)/1000 >alertFrequencyChange)\n    context.global.NeedFlow=1;\n    else\n     context.global.NeedFlow=0;\n context.global.LastMessageTime=now;\n}else\n{\n    context.global.NeedFlow=1;\n    var now = ( new Date() ).getTime();\n    context.global.LastMessageTime=now;\n}\nmsg.data=context.global.NeedFlow;\n\nreturn msg;","outputs":1,"noerr":0,"x":460.27779388427734,"y":97.91669845581055,"wires":[["75b35fe3.af03"]]},{"id":"7158eb38.95e484","type":"comment","z":"cbfba788.027318","name":"Service Engineer Notification","info":"Sends Email as notification in case of Alram situation.","x":140,"y":43,"wires":[]},{"id":"6f173f92.5baf5","type":"start virtual device","z":"47e9d82.ebb7d28","name":"","deviceId":"","schema":"950a665.74d4d98","outputs":1,"x":327.5477294921875,"y":127.7420883178711,"wires":[["236fc75e.cdc9b8"]]},{"id":"236fc75e.cdc9b8","type":"device function","z":"47e9d82.ebb7d28","deviceId":"","schema":"950a665.74d4d98","name":"Change actual parameters","func":"if(ActualTemperature > DesiredTemperature ){\n    ActualTemperature -= 0.5;\n}\nelse if(ActualTemperature < DesiredTemperature){\n    ActualTemperature += 0.5;\n}\nreturn msg;","outputs":1,"noerr":0,"x":599.3334045410156,"y":128.2063751220703,"wires":[["612df89d.834d18"]]},{"id":"612df89d.834d18","type":"delay","z":"47e9d82.ebb7d28","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600.4683685302734,"y":190.03968048095703,"wires":[["236fc75e.cdc9b8","1f490dba.47c212"]]},{"id":"1f490dba.47c212","type":"generate event","z":"47e9d82.ebb7d28","deviceId":"","schema":"950a665.74d4d98","evt":"f5e261ed3706","name":"","x":838.3415222167969,"y":189.8055191040039,"wires":[["18cf128c.1bce5d"]]},{"id":"974244d8.ed1438","type":"function","z":"ab2f41ca.c5315","name":"update flow context with device changes","func":"var simulation = flow.get(\"simulation\") || {};\nswitch (msg.topic) {\ncase \"deviceSchema\":\n\tif(Array.isArray(msg.payload)){\n\t\t//all schemas update on startup clean old context \n\t\tsimulation = {};\n\t}\n\telse{//single schema update while running\n\t\tmsg.payload = [msg.payload];\n\n\t}\n\t//update schemas\n\tfor (var i = 0; i < msg.payload.length; i++) {\n\t\tvar schema = msg.payload[i];\n\t\tsimulation[schema.deviceType] = {schema: schema, devices: {}};\n\t}\n\tbreak;\ncase \"deviceCreated\":\n\tvar device = {properties: msg.payload.properties, isOn: true};\n\t//set properties input types\n\tdevice.propertiesInput = {};\n\tfor(var k in device.properties){\n\t\tvar prpType = typeof(device.properties[k]);\n\t\tvar inputType = (prpType === \"number\") ? \"number\": (prpType === \"boolean\") ? \"checkbox\" : \"text\";\n\t\tdevice.propertiesInput[k] = inputType;\n\t}\n\tsimulation[msg.payload.deviceType].devices[msg.payload.deviceId] = device;\n\tbreak;\ncase \"deviceDeleted\":\n\tvar device = msg.payload;\n\tif(simulation[device.deviceType].devices[device.deviceId]){\n\t\tsimulation[device.deviceType].devices[device.deviceId].isOn = false;\n\t}\n\telse\n\t\treturn null; //device already deleted\n\tbreak;\ncase \"propertyChange\":\n\tvar device = msg.payload;\n\tvar changedProperty = device.changedProperty;\n\tsimulation[device.deviceType].devices[device.deviceId].properties[changedProperty.name] = changedProperty.newValue;\n\tbreak;\ndefault:\n\treturn null;\n}\nflow.set(\"simulation\", simulation);\nmsg.payload = simulation;\nreturn msg;\n","outputs":1,"noerr":0,"x":445.23020935058594,"y":682.6508598327637,"wires":[["2ee074e6.e065fc"]]},{"id":"682240c2.8d53b","type":"ui_template","z":"ab2f41ca.c5315","group":"eacf1283.e122b","name":"Simulation Dashbaord","order":1,"width":"22","height":"10","format":"<link data-require=\"bootstrap-css@3.0.2\" data-semver=\"3.0.3\" rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css\" />\n<div ng-app=\"simulator\" >\n  <div>\n    <div  ng-repeat=\"(schemaName, data) in msg.payload\" >\n      <h2>Simulation Schemas: {{data.schema.deviceType}}</h2>\n      <md-button background=\"#9ee3f900\" color=\"#fff0\" ng-init=\"instances=1\" ng-click='send({topic: \"createDevice\" , payload: {deviceType: data.schema.deviceType, instances: instances}})'>Create</md-button>\n      <label><input type=\"number\" name=\"input\" ng-model=\"instances\"\n        min=\"1\" max=\"19\" required> instance(s) of {{data.schema.deviceType}}</label>\n        <table class=\"table table-hover\">\n          <thead>\n            <tr>\n              <th>Start/Stop</th>\n              <th>Device Id</th>\n              <th ng-repeat=\"property in data.schema.properties | orderBy : 'name'\">\n                {{ property }}\n              </th>\n              <th>Delete Device</th>\n              <th>View Dashboard</th>\n            </tr>\n            <tbody >\n              <tr ng-repeat=\"(deviceId, device) in data.devices\" ng-model=\"data.devices[deviceId]\" id={{deviceId}}>\n                <td>\n                  <md-switch aria-label=\"stopDevice\" ng-model=\"device.isOn\" ng-change='send({topic: (!device.isOn) ? \"stopDevice\" : \"startDevice\" , payload: {deviceType: data.schema.deviceType, deviceId: deviceId, properties: device.properties}})'></md-switch>\n                </td>\n                <td>{{ deviceId }}</td>\n                <td ng-repeat=\"devPrp in data.schema.properties | orderBy : 'name'\" ng-init='editMode=false; editVal'>{{ device.properties[devPrp] }}\n                  <a href=\"#\" ng-show=\"device.isOn && device.properties[devPrp] !== undefined && editMode==false\" ng-click=\"editMode = true; editVal = device.properties[devPrp]\">\n                    <i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\"></i>\n                  </a>\n                  <input ng-show='editMode && device.isOn && device.propertiesInput[devPrp] === \"text\"' type=\"text\" ng-model=\"editVal\" ng-value=\"editVal\">\n                  <input ng-show='editMode && device.isOn && device.propertiesInput[devPrp] === \"checkbox\"' type=\"checkbox\" ng-model=\"editVal\" ng-value=\"editVal\">\n                  <input ng-show='editMode && device.isOn && device.propertiesInput[devPrp] === \"number\"' type=\"number\" ng-model=\"editVal\" ng-value=\"editVal\">\n                  <a href=\"#\" ng-show=\"editMode && device.isOn\" ng-click=\n                  'payload={deviceType: data.schema.deviceType, deviceId: deviceId};\n                  payload[devPrp] = editVal;\n                  send({topic: \"changeProperty\", payload: payload}); editMode=false'>\n                  <i class=\"fa fa-floppy-o\" aria-hidden=\"true\"></i>\n                </a>\n                <a href=\"#\" ng-show=\"device.isOn && editMode\" ng-click=\"editMode=false\">\n                  <i class=\"fa fa-eraser\" aria-hidden=\"true\"></i>\n                </a>\n              </td>\n              <td>\n                <md-button  ng-click='send({topic: \"deleteDevice\", payload: {deviceType: data.schema.deviceType, deviceId: deviceId}})'>\n                  delete\n                  <ng-md-icon iconType===\"angular-material\" icon=\"delete_forever\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" width=\"24\" height=\"24\"> <path d=\"M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z\"></path></svg></ng-md-icon>\n                </md-button>\n              </td>\n              <td onclick=\"setTimeout(function(){window.location.reload()},100)\">\n                <a href=\"#/2\" ng-click='send({topic: \"viewDevice\", payload: {deviceType: data.schema.deviceType, deviceId: deviceId}})'>\n                  <i class=\"fa fa-bar-chart\" aria-hidden=\"true\"></i>\n                </a>\n              </td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n    </div>\n  </div>\n","storeOutMessages":false,"fwdInMessages":false,"x":246.6507797241211,"y":130.44444847106934,"wires":[["3e86454c.3970fa"]]},{"id":"3e86454c.3970fa","type":"switch","z":"ab2f41ca.c5315","name":"Switch cmd","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"createDevice","vt":"str"},{"t":"eq","v":"deleteDevice","vt":"str"},{"t":"eq","v":"startDevice","vt":"str"},{"t":"eq","v":"stopDevice","vt":"str"},{"t":"eq","v":"changeProperty","vt":"str"},{"t":"eq","v":"viewDevice","vt":"str"}],"checkall":"false","outputs":6,"x":461.86507415771484,"y":130.44443321228027,"wires":[["a6e2c654.ffe558"],["79077ebb.d99b6"],["b7edc7a0.9ee008"],["36dbb283.4be8fe"],["419581dd.401b7"],["195f4a7e.7cf0d6"]]},{"id":"ca668212.401e","type":"function","z":"ab2f41ca.c5315","name":"Generate ID","func":"var msgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var mac = Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16) +\n    Math.floor(Math.random() * 16).toString(16);\n    var macStr = mac[0].toUpperCase() + mac[1].toUpperCase() + mac[2].toUpperCase() + mac[3].toUpperCase() +\n    mac[4].toUpperCase() + mac[5].toUpperCase() + mac[6].toUpperCase() + mac[7].toUpperCase() +\n    mac[8].toUpperCase() + mac[9].toUpperCase() + mac[10].toUpperCase() + mac[11].toUpperCase();\n    msgs.push({deviceId: macStr, typeId: msg.payload.deviceType});\n}\nmsg.payload =msgs\nreturn msg;","outputs":1,"noerr":0,"x":363.0713195800781,"y":341.0000305175781,"wires":[["1ee0c695.5dfc29"]]},{"id":"4da20883.0a8cf8","type":"function","z":"ab2f41ca.c5315","name":"Add Device to flow context","func":"if(msg.payload === null) return null;\n\nvar simulation = flow.get(\"simulation\") || {};\nvar newDevices = [];\nvar turnOnMsgs = [];\nfor(var i = 0; i < msg.payload.length; i++){\n    var resp = msg.payload[i];\n    if(!resp.deviceId){\n        node.error(\"error on register device\");\n    }\n    else{\n         var deviceId = resp.deviceId;\n         var deviceType = resp.typeId;\n         if(simulation[deviceType]){\n            simulation[deviceType].devices[deviceId] = {properties: {}, isOn: false};\n            newDevices.push({typeId: deviceType, deviceId: deviceId});\n            turnOnMsgs.push({payload: {deviceType: deviceType, deviceId: deviceId}});\n         }\n    }\n}\n\nflow.set(\"simulation\", simulation);\n//check if need to push changes to db\nmsg.payload = simulation; //message to the ui\nif(msg.updatedb !== false && newDevices.length > 0){\n    var pendingUpdates = flow.get(\"dbUpdates\") || {addDevices: [],deleteDevices: []};\n\tpendingUpdates.addDevices = pendingUpdates.addDevices.concat(newDevices);\n\tflow.set(\"dbUpdates\", pendingUpdates);\n}\nreturn [msg, turnOnMsgs];\n","outputs":"2","noerr":0,"x":786.1665802001953,"y":340.5238723754883,"wires":[["3b5272cd.0b6b4e"],["5c8109c2.2700c8"]]},{"id":"31e70662.d48aba","type":"function","z":"ab2f41ca.c5315","name":"Delete Device from flow context","func":"var simulation = flow.get(\"simulation\") || {};\nvar deviceId = msg.payload.deviceId;\nvar deviceType = msg.payload.deviceType;\ndelete simulation[deviceType].devices[deviceId];\nflow.set(\"simulation\", simulation);\nvar uiMsg = {payload: simulation};\nvar closeDeviceMsg = {payload: {deviceType: deviceType, deviceId: deviceId}};\n\nif(msg.updatedb !== false){\n    var pendingUpdates = flow.get(\"dbUpdates\") || {addDevices: [],deleteDevices: []};\n\tpendingUpdates.deleteDevices.push({typeId: deviceType, deviceId: deviceId});\n\tflow.set(\"dbUpdates\", pendingUpdates);\n}\n\nreturn [closeDeviceMsg,uiMsg];","outputs":"2","noerr":0,"x":335.6348571777344,"y":513.1904678344727,"wires":[["fd1dcd30.76663","89d22c14.8ae3e"],["973af589.9fc878"]]},{"id":"862e873.a777778","type":"link in","z":"ab2f41ca.c5315","name":"Simulation Dashboard Input","links":["3b5272cd.0b6b4e","973af589.9fc878","2ee074e6.e065fc"],"x":86.36507415771484,"y":130.73016929626465,"wires":[["682240c2.8d53b"]]},{"id":"3b5272cd.0b6b4e","type":"link out","z":"ab2f41ca.c5315","name":"Simulation Dashboard Outlink","links":["862e873.a777778"],"x":972.9606075286865,"y":335.38102531433105,"wires":[]},{"id":"419581dd.401b7","type":"set properties","z":"ab2f41ca.c5315","deviceId":"","schema":"950a665.74d4d98","name":"","propAll":true,"valueType":"msg","value":"","x":760.6428298950195,"y":192.1587529182434,"wires":[[]]},{"id":"f0aa7a0e.8be708","type":"device listener","z":"ab2f41ca.c5315","monitor":"stop","monitorAll":true,"deviceId":"","allDeviceIds":true,"allSchemas":true,"allProps":true,"schema":"950a665.74d4d98","props":[],"name":"","x":149.515869140625,"y":682.0476512908936,"wires":[["974244d8.ed1438"]]},{"id":"a6e2c654.ffe558","type":"link out","z":"ab2f41ca.c5315","name":"Register Device -  out","links":["a4ae0941.26fe78"],"x":673.9126586914062,"y":39.53968811035156,"wires":[]},{"id":"bcdd57f2.6e9ec8","type":"comment","z":"ab2f41ca.c5315","name":"Register Device","info":"","x":772.5793304443359,"y":40.65079307556152,"wires":[]},{"id":"79077ebb.d99b6","type":"link out","z":"ab2f41ca.c5315","name":"Unregister Device out","links":["edec9cca.68dca"],"x":674.4604034423828,"y":77.82540893554688,"wires":[]},{"id":"c5a75c11.0e756","type":"comment","z":"ab2f41ca.c5315","name":"Unregister Device","info":"","x":782.2539443969727,"y":78.19050407409668,"wires":[]},{"id":"8338fba.a37eb08","type":"comment","z":"ab2f41ca.c5315","name":"Register Device","info":"","x":129.30152893066406,"y":241.74606704711914,"wires":[]},{"id":"a4ae0941.26fe78","type":"link in","z":"ab2f41ca.c5315","name":"Registing device - in","links":["a6e2c654.ffe558"],"x":94.53964233398438,"y":287.1905241012573,"wires":[["b9216fbf.1c88f","30172e18.122612"]]},{"id":"eb824add.1a5478","type":"comment","z":"ab2f41ca.c5315","name":"Unregister Device","info":"","x":130.2698211669922,"y":464.55555152893066,"wires":[]},{"id":"edec9cca.68dca","type":"link in","z":"ab2f41ca.c5315","name":"Unregister Device - in","links":["79077ebb.d99b6"],"x":87.01584434509277,"y":512.0952777862549,"wires":[["31e70662.d48aba","6b7a4117.c89ff"]]},{"id":"74ee24e3.07facc","type":"comment","z":"ab2f41ca.c5315","name":"Dashboard Input","info":"","x":1072.0953559875488,"y":336.0951290130615,"wires":[]},{"id":"acde1d56.520c9","type":"function","z":"ab2f41ca.c5315","name":"start DB update","func":"var pendingUpdates = flow.get(\"dbUpdates\");\nif(!pendingUpdates || (pendingUpdates.addDevices.length === 0 && pendingUpdates.deleteDevices.length === 0)  ) \nreturn [msg,null];\n//load changes on msg\nmsg.addDevices = pendingUpdates.addDevices;\nmsg.deleteDevices = pendingUpdates.deleteDevices;\n//set doc id\nmsg.payload =  {_id: \"registeredDevices\"}\n\n//rest flow pending changes\npendingUpdates.addDevices = [];\npendingUpdates.deleteDevices = [];\nflow.set(\"dbUpdates\",pendingUpdates);\nreturn [msg,msg];","outputs":"2","noerr":0,"x":342.1429443359375,"y":935.8572387695312,"wires":[["eefdd3d8.93a42"],["626b905d.4e0ba"]]},{"id":"626b905d.4e0ba","type":"cloudant in","z":"ab2f41ca.c5315","name":"Get reg devices from db","cloudant":"","database":"redsimulation-db","service":"iottool-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":578.3651733398438,"y":941.8572378158569,"wires":[["61279812.022e98"]]},{"id":"4ad6f0ae.04297","type":"cloudant out","z":"ab2f41ca.c5315","name":"Update reg devices in db","cloudant":"","database":"redsimulation-db","service":"iottool-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1053.3651733398438,"y":941.8572378158569,"wires":[]},{"id":"82d83f39.d2e73","type":"comment","z":"ab2f41ca.c5315","name":"On Device Change","info":"","x":128.60321044921875,"y":627.507926940918,"wires":[]},{"id":"9f90b909.f42138","type":"inject","z":"ab2f41ca.c5315","name":"Start db sync","topic":"","payload":"{\"_id\": \"registeredDevices\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":151.1429443359375,"y":804.8572387695312,"wires":[["eefdd3d8.93a42","568e6cbe.373aa4"]]},{"id":"7f2cdea8.20211","type":"cloudant in","z":"ab2f41ca.c5315","name":"Get reg devices from db","cloudant":"","database":"redsimulation-db","service":"iottool-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":537.1429443359375,"y":804.8572387695312,"wires":[["a63a606f.b46b4"]]},{"id":"a63a606f.b46b4","type":"change","z":"ab2f41ca.c5315","name":"","rules":[{"t":"move","p":"payload.devices","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"updatedb","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":757.6429443359375,"y":804.8572387695312,"wires":[["9c918bf4.ca5ae8"]]},{"id":"eefdd3d8.93a42","type":"delay","z":"ab2f41ca.c5315","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":337.6429443359375,"y":861.8572387695312,"wires":[["acde1d56.520c9"]]},{"id":"61279812.022e98","type":"function","z":"ab2f41ca.c5315","name":"write devices to db","func":"var doc = msg.payload || {_id: \"registeredDevices\", devices: []};\nif(msg.addDevices){\n\tdoc.devices = doc.devices.concat(msg.addDevices);\n}\n\nfunction findIndex(array, func){\n    for(var i = 0; i < array.length; i++){\n        var item = array[i];\n        if(func(item) === true){\n            return i;\n        }\n    }\n    return -1;\n}\nif(msg.deleteDevices){  \n\tfor (var i = 0; i < msg.deleteDevices.length; i++) {\n\t\tvar deviceType = msg.deleteDevices[i].deviceType;\n\t\tvar deviceId = msg.deleteDevices[i].deviceId;\n\t\tvar index = findIndex(doc.devices,function(item){return item.deviceId === deviceId;});\n\t\tif(index !== -1){\n\t\t    doc.devices.splice(index, 1);\n\t\t}\n\t}\n}\nmsg.payload = doc;\nreturn msg;","outputs":1,"noerr":0,"x":814.8651733398438,"y":941.8572378158569,"wires":[["4ad6f0ae.04297"]]},{"id":"568e6cbe.373aa4","type":"delay","z":"ab2f41ca.c5315","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":334.1429443359375,"y":804.8572387695312,"wires":[["7f2cdea8.20211"]]},{"id":"e055bbd8.3026a8","type":"comment","z":"ab2f41ca.c5315","name":"README","info":"This flow implements an out of the box, generic\ndevice simulator, that can create, monitor \nand control virtual/simulated devices, whose behaviors\nare described as Node-RED flows using the Virtual_IoT_Device\nnode types.\n\n__There is no need to modify this flow in order to create and \nemulate virtual devices__\n\n## Connecting the simulator to device behavior flows\nTo connect a virtual device to the simulation dashboard, you need to connect the *__StartDevice__* and  *__StopDevice__* output links in the simulator flow to \nthe *__start virtual device__* and *__stop virtual device__* nodes in the device behavior flow (respectively)\n\n## Using the dashboard UI\nThe dashboard UI is part of the Node-RED application dashboard \nwhich is in _[application URL]/ui_.\nAfter opening the dashboard, select the _Simulation_ \npage (top left menu/side bar) to view the virtual devices dashboard.\nYou can create/delete multiple instances for every \ndevice type as well as view/change their property values.\nThe devices are auto generated in the IoT Platform using IDs \ngenerated by the dashboard. \n\n### Note:\nThe flow relies on the the CloudantNoSQL DB Service (deployed by default) to persist device instances between simulation sessions.\n\n\n\n","x":104.72219848632812,"y":88.95240211486816,"wires":[]},{"id":"a20375d0.5aecd8","type":"comment","z":"ab2f41ca.c5315","name":"Save registered devices to DB","info":"","x":164.21441650390625,"y":764.8572387695312,"wires":[]},{"id":"6b7a4117.c89ff","type":"device-manager","z":"ab2f41ca.c5315","auth":"bluemix","name":"Delete Device","apiKey":"","deviceType":"","method":"Delete","deviceId":"","password":"","x":282.7302474975586,"y":559.1110286712646,"wires":[[]]},{"id":"1ee0c695.5dfc29","type":"device-manager","z":"ab2f41ca.c5315","auth":"bluemix","name":"Register Device","apiKey":"","deviceType":"","method":"Create","deviceId":"","password":"","x":540.642822265625,"y":341.7143249511719,"wires":[["4da20883.0a8cf8"]]},{"id":"af93bc09.99c6d","type":"link in","z":"47e9d82.ebb7d28","name":"Start Thermostat","links":["a342d51b.b81928"],"x":179.28570556640625,"y":127.85714721679688,"wires":[["6f173f92.5baf5"]]},{"id":"5dcc8fac.f7e4","type":"stop virtual device","z":"47e9d82.ebb7d28","name":"","deviceId":"","x":325.635009765625,"y":276.8174800872803,"wires":[[]]},{"id":"40a50b68.068244","type":"link in","z":"47e9d82.ebb7d28","name":"Stop Thermostat","links":["81dd6f20.8ed1a"],"x":175.793701171875,"y":276.746000289917,"wires":[["5dcc8fac.f7e4"]]},{"id":"18cf128c.1bce5d","type":"ibmiot out","z":"47e9d82.ebb7d28","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"thermostat1","deviceType":"Thermostat","eventCommandType":"thermostatEvent","format":"json","data":"some","qos":0,"name":"IBM IoT","service":"registered","x":1057.0478210449219,"y":189.27777099609375,"wires":[]},{"id":"51f22ab2.a22a14","type":"device-type-manager","z":"ab2f41ca.c5315","auth":"bluemix","name":"","apiKey":"","deviceType":"","classId":"Gateway","method":"Create","deviceTypeId":"","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"{\"parts\":2222}","password":"","properties":[{"key":"metadata","value":"{\"key\":1}"}],"x":477.9999084472656,"y":288.21429443359375,"wires":[[]]},{"id":"30172e18.122612","type":"function","z":"ab2f41ca.c5315","name":"Update Payload","func":"msg.payload.deviceTypeId = msg.payload.deviceType\nreturn msg;","outputs":1,"noerr":0,"x":235.87302780151367,"y":287.93653297424316,"wires":[["51f22ab2.a22a14"]]},{"id":"b9216fbf.1c88f","type":"delay","z":"ab2f41ca.c5315","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":208.49206924438477,"y":340.47620391845703,"wires":[["ca668212.401e"]]},{"id":"4262ed98.2e7234","type":"device-type-manager","z":"ab2f41ca.c5315","auth":"bluemix","name":"","apiKey":"","deviceType":"","classId":"Gateway","method":"Delete","deviceTypeId":"","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"{\"parts\":2222}","password":"","properties":[],"x":964.2380752563477,"y":506.1983470916748,"wires":[[]]},{"id":"9cc944bf.5e99e8","type":"function","z":"ab2f41ca.c5315","name":"Update Payload","func":"msg.payload.deviceTypeId = msg.payload.deviceType\nreturn msg;","outputs":1,"noerr":0,"x":750.285587310791,"y":506.58725929260254,"wires":[["4262ed98.2e7234"]]},{"id":"fd1dcd30.76663","type":"delay","z":"ab2f41ca.c5315","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":566.1111297607422,"y":506.8095226287842,"wires":[["9cc944bf.5e99e8"]]},{"id":"5f73f201.a0f4ec","type":"ibmiot in","z":"74bdb3d4.b4b2dc","authentication":"boundService","apiKey":"","inputType":"cmd","deviceId":"thermostat1","applicationId":"","deviceType":"Thermostat","eventType":"+","commandType":"configuration","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":true,"allFormats":"","qos":"0","x":130,"y":122.4285659790039,"wires":[["45c7e83f.c3f818"]]},{"id":"45c7e83f.c3f818","type":"function","z":"74bdb3d4.b4b2dc","name":"Change Configuration","func":"if(msg.payload.eventType=='emailChange')\ncontext.global.email=msg.payload.data;\n\n\nelse if(msg.payload.eventType=='CutOutTempChange')\ncontext.global.CutOutTemperature=msg.payload.data;\n\nelse if(msg.payload.eventType=='CutInTempChange')\ncontext.global.CutInTemperature=msg.payload.data;\n\nelse if(msg.payload.eventType=='alertFrequencyChange')\ncontext.global.alertFrequencyChange=msg.payload.data;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":347.5555725097656,"y":122.6362533569336,"wires":[[]]},{"id":"cf58adda.680a4","type":"ibmiot out","z":"74bdb3d4.b4b2dc","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"thermostat1","deviceType":"Thermostat","eventCommandType":"configuration","format":"json","data":"{\"d\":{\"eventType\":\"CutInTempChange\",\"data\":\"21\"}}","qos":"","name":"IBM IoT","service":"registered","x":1018.6093139648438,"y":462.6602478027344,"wires":[]},{"id":"1bfa7b24.df20d5","type":"comment","z":"74bdb3d4.b4b2dc","name":"Accept configuration change from platform","info":"Accept following configuration change from platform\n\n1.Email ID for email notification.\n2.CutOutTemperature .\n3.CutInTemperature .\n4.AlertFrequency .\n\n","x":211,"y":74.4285659790039,"wires":[]},{"id":"97e893a7.bd36","type":"comment","z":"74bdb3d4.b4b2dc","name":"Send  configuration change to  platform","info":"","x":199,"y":199.4285659790039,"wires":[]},{"id":"7f99fe02.995f8","type":"ibmiot in","z":"30860f9a.92847","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"thermostat1","applicationId":"","deviceType":"+","eventType":"tempevt","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":"0","x":66.95462036132812,"y":130.28219604492188,"wires":[["be09ceb7.80abd"]]},{"id":"b2ecfc68.36dc5","type":"function","z":"30860f9a.92847","name":"Alarm","func":"var now = ( new Date() ).getTime();\nvar value=msg.payload.data;\nmsg.payload = {\n    tstamp: now,\n    Temperature: value, \n    incident: \"Alarm\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":743.95458984375,"y":118.14288330078125,"wires":[["83f9faa3.288118","2f4b2d08.3deb92","7d0925c7.be45ac"]]},{"id":"83f9faa3.288118","type":"cloudant out","z":"30860f9a.92847","name":"database","cloudant":"c5181fc8.4082d","database":"refrigeratordb","service":"iottool-cloudantNoSQLDB","payonly":true,"operation":"insert","x":925.5081787109375,"y":162.80740356445312,"wires":[]},{"id":"1cb97f7c.7bc901","type":"function","z":"30860f9a.92847","name":"Alert","func":"var now = ( new Date() ).getTime();\nvar value=msg.payload.data;\nmsg.payload = {\n    tstamp: now,\n    Temperature: value, \n    incident: \"Alert\",\n    Cause :\"Temperature above CutIn value\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":745.95458984375,"y":193.14288330078125,"wires":[["83f9faa3.288118","2d5f6d80.dd30d2"]]},{"id":"7d0925c7.be45ac","type":"subflow:cbfba788.027318","z":"30860f9a.92847","name":"Alert Service Engineer","x":961.95458984375,"y":116.28219604492188,"wires":[]},{"id":"b803a8f.3090c58","type":"subflow:d61a783c.a84378","z":"30860f9a.92847","name":"Alarm / Alert Check","x":557.3831176757812,"y":125,"wires":[["b2ecfc68.36dc5"],["1cb97f7c.7bc901"]]},{"id":"1be7e10e.604baf","type":"comment","z":"30860f9a.92847","name":"Alarms and Alerts","info":"Alarms and Alerts are raised as per the value\nof the current temperature .They are influenced \nby fllowing parameters.                         \n1.CutIn Temperature.                            \n2.CutOut temperature.\n\nIf temperature is lower than CutIn temperature \nand higher than CutOut temperature Alarms\nwill be raised .\n\nIf temperature is between CutIn and CutOut \ntemperature Alerts will be raised","x":104.95465087890625,"y":78.28219604492188,"wires":[]},{"id":"d4c22781.08dfd8","type":"function","z":"30860f9a.92847","name":"Temperature","func":"var temp= msg.payload.data;\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":547.4990615844727,"y":288.6499538421631,"wires":[["a9cf14c6.3632d8","5f8f3952.5802a8"]]},{"id":"2f4b2d08.3deb92","type":"function","z":"30860f9a.92847","name":"Temperature Alarm","func":"var temp=msg.payload.Temperature;\nmsg.payload=\"Check Thermostat. Current temperature is :\"+temp;\nmsg.topic=\"Alarm\";\nreturn msg;\n","outputs":1,"noerr":0,"x":953.837890625,"y":66.88333129882812,"wires":[["1aea087e.2ba3d8"]]},{"id":"1aea087e.2ba3d8","type":"ui_toast","z":"30860f9a.92847","position":"top right","displayTime":"","name":"show toast","x":1166.337890625,"y":67.25003051757812,"wires":[]},{"id":"2d5f6d80.dd30d2","type":"function","z":"30860f9a.92847","name":"Temperature Alert","func":"var temp=msg.payload.Temperature;\nmsg.payload=\"Check Thermostat. Current temperature is :\"+temp;\nmsg.topic=\"Alert\";\nreturn msg;\n","outputs":1,"noerr":0,"x":954.95458984375,"y":217,"wires":[[]]},{"id":"a9cf14c6.3632d8","type":"ui_gauge","z":"30860f9a.92847","name":"Thermostat Temperature","group":"f3a55e66.978ca","order":2,"width":0,"height":0,"gtype":"gage","title":"Room Temperature","label":"°C","format":"{{value}}","min":"-10","max":"52","colors":["#00b500","#e6e600","#ca3838"],"x":807.7323989868164,"y":287.33327293395996,"wires":[]},{"id":"5f8f3952.5802a8","type":"ui_chart","z":"30860f9a.92847","name":"","group":"f3a55e66.978ca","order":3,"width":0,"height":0,"label":"Running Temperature","chartType":"line","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"-10","ymax":"52","removeOlder":1,"removeOlderUnit":"60","x":748.4615821838379,"y":335.49995040893555,"wires":[[],[]]},{"id":"b416f006.5787b","type":"function","z":"30860f9a.92847","name":"Format Data","func":"msg.payload.data = msg.payload.d.ActualTemperature;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":124.28921508789062,"wires":[["d4c22781.08dfd8","b803a8f.3090c58"]]},{"id":"195f4a7e.7cf0d6","type":"function","z":"ab2f41ca.c5315","name":"set selected to global","func":"context.global.selectedDevice = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":762.355598449707,"y":231.64445686340332,"wires":[["1a3370f6.30801f"]]},{"id":"be09ceb7.80abd","type":"switch","z":"30860f9a.92847","name":"","property":"deviceId","propertyType":"msg","rules":[{"t":"eq","v":"selectedDevice.deviceId","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":195.46664428710938,"y":130.80001831054688,"wires":[["b416f006.5787b"],[]]},{"id":"1a3370f6.30801f","type":"ui_text","z":"ab2f41ca.c5315","group":"f3a55e66.978ca","order":1,"width":0,"height":0,"name":"","label":"Thermostat: ","format":"{{msg.payload.deviceId}}","layout":"row-spread","x":985.7361145019531,"y":231.45341777801514,"wires":[]},{"id":"973af589.9fc878","type":"link out","z":"ab2f41ca.c5315","name":"Simulation Dashboard Outlink","links":["862e873.a777778"],"x":524.4444961547852,"y":553.0000228881836,"wires":[]},{"id":"2ee074e6.e065fc","type":"link out","z":"ab2f41ca.c5315","name":"Simulation Dashboard Outlink","links":["862e873.a777778"],"x":676.6665840148926,"y":682.5555839538574,"wires":[]},{"id":"61ad9975.b7b228","type":"comment","z":"ab2f41ca.c5315","name":"Dashboard Input","info":"","x":775.5556869506836,"y":681.4445209503174,"wires":[]},{"id":"8c49652.1dc6898","type":"comment","z":"ab2f41ca.c5315","name":"Dashboard Input","info":"","x":624.4444160461426,"y":552.111120223999,"wires":[]},{"id":"e54ed0f.fd4b53","type":"comment","z":"ab2f41ca.c5315","name":"RedirectStart","info":"Redirect Start to the corrosponding virtual Device","x":108,"y":990,"wires":[]},{"id":"2bb177ac.c6fd88","type":"comment","z":"ab2f41ca.c5315","name":"RedirectStop","info":"Redirect Stop to the corrosponding virtual Device","x":107,"y":1096,"wires":[]},{"id":"78f8a4bb.131a4c","type":"link in","z":"ab2f41ca.c5315","name":"Redirect Start","links":["5c8109c2.2700c8","b7edc7a0.9ee008"],"x":84,"y":1034,"wires":[["ba05a655.da71e8"]]},{"id":"b17f472a.7e7d68","type":"link in","z":"ab2f41ca.c5315","name":"Redirect Stop","links":["89d22c14.8ae3e","36dbb283.4be8fe"],"x":83.88890647888184,"y":1147.444414138794,"wires":[["f22ebb6a.bf3438"]]},{"id":"a342d51b.b81928","type":"link out","z":"ab2f41ca.c5315","name":"Simulator StartDevice","links":["8f91e3a6.1b6fe","39620351.b34c7c","a989e259.87d89","99a30096.aeefd","a0bf9407.f370f8","af93bc09.99c6d"],"x":320.0000305175781,"y":1028.2222290039062,"wires":[]},{"id":"81dd6f20.8ed1a","type":"link out","z":"ab2f41ca.c5315","name":"Simulator StopDevice","links":["40a50b68.068244"],"x":322.2222595214844,"y":1141.77783203125,"wires":[]},{"id":"a424d077.26ddb","type":"comment","z":"ab2f41ca.c5315","name":"Stop Thermostat Device","info":"","x":443.3730525970459,"y":1140.3493375778198,"wires":[]},{"id":"ba05a655.da71e8","type":"switch","z":"ab2f41ca.c5315","name":"","property":"payload.deviceType","propertyType":"msg","rules":[{"t":"eq","v":"Thermostat","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":193.88890838623047,"y":1034.1110286712646,"wires":[["a342d51b.b81928"],[]]},{"id":"f22ebb6a.bf3438","type":"switch","z":"ab2f41ca.c5315","name":"","property":"payload.deviceType","propertyType":"msg","rules":[{"t":"eq","v":"Thermostat","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":192.2222442626953,"y":1146.888916015625,"wires":[["81dd6f20.8ed1a"],[]]},{"id":"5c8109c2.2700c8","type":"link out","z":"ab2f41ca.c5315","name":"From Add Device to flow context Start","links":["78f8a4bb.131a4c"],"x":972.7778577804565,"y":372.3332986831665,"wires":[]},{"id":"df2132e7.1834c","type":"comment","z":"ab2f41ca.c5315","name":"RedirectStart","info":"Redirect Start to the corrosponding vertual Device","x":1062.77783203125,"y":372.3333435058594,"wires":[]},{"id":"89d22c14.8ae3e","type":"link out","z":"ab2f41ca.c5315","name":"From Delete Device stop","links":["b17f472a.7e7d68"],"x":522.22230052948,"y":467.5555610656738,"wires":[]},{"id":"f9d3ff96.beb6","type":"comment","z":"ab2f41ca.c5315","name":"RedirectStop","info":"Redirect Stop to the corrosponding vertual Device","x":611.8890686035156,"y":466.3333683013916,"wires":[]},{"id":"36dbb283.4be8fe","type":"link out","z":"ab2f41ca.c5315","name":"From UI Switch Stop","links":["b17f472a.7e7d68"],"x":675.000054359436,"y":156.6666717529297,"wires":[]},{"id":"39bd27fe.c5f428","type":"comment","z":"ab2f41ca.c5315","name":"RedirectStop","info":"Redirect Stop to the corrosponding vertual Device","x":764.6668224334717,"y":155.44447898864746,"wires":[]},{"id":"b7edc7a0.9ee008","type":"link out","z":"ab2f41ca.c5315","name":"From UI Switch Start","links":["78f8a4bb.131a4c"],"x":675.0000610351562,"y":117.77776718139648,"wires":[]},{"id":"6e84a21d.1c1bdc","type":"comment","z":"ab2f41ca.c5315","name":"RedirectStart","info":"Redirect Start to the corrosponding vertual Device","x":764.0000352859497,"y":117.77781200408936,"wires":[]},{"id":"e426d956.ee28f8","type":"comment","z":"ab2f41ca.c5315","name":"NOTE: Adding another simuation device type","info":"Add the device type in the switch case and link it to start and stop of your simulated devices","x":692.0556182861328,"y":1080.8889179229736,"wires":[]},{"id":"66f815a2.5b305c","type":"comment","z":"ab2f41ca.c5315","name":"Start Thermostat Device","info":"","x":448.7700443267822,"y":1027.6984786987305,"wires":[]},{"id":"fdcfc905.882ea8","type":"link in","z":"ab2f41ca.c5315","name":"Add Device to flow context","links":["9c918bf4.ca5ae8"],"x":606.2222213745117,"y":383.2222194671631,"wires":[["4da20883.0a8cf8"]]},{"id":"9c918bf4.ca5ae8","type":"link out","z":"ab2f41ca.c5315","name":"From DB sync","links":["fdcfc905.882ea8"],"x":892.7777709960938,"y":805.0000076293945,"wires":[]},{"id":"2d2b5ee4.5bd9c2","type":"comment","z":"ab2f41ca.c5315","name":"Add Device to flow context","info":"","x":1022.1111526489258,"y":805.0000219345093,"wires":[]},{"id":"b6dca56e.112168","type":"comment","z":"ab2f41ca.c5315","name":"Add Device to flow context","info":"","x":474.5555419921875,"y":382.1111259460449,"wires":[]},{"id":"113abf14.c8f841","type":"function","z":"74bdb3d4.b4b2dc","name":"Email change","func":"var evt = 'emailChange';\nvar value = msg.payload;\n\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":691.0999755859375,"y":515.7999877929688,"wires":[["cf58adda.680a4"]]},{"id":"a765f0a4.be803","type":"function","z":"74bdb3d4.b4b2dc","name":"Cut OutTemperatrure Change","func":"var evt = 'CutOutTempChange';\nvar value = msg.payload;\ncontext.global.CutOutTemperature=36;\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":740.0999145507812,"y":303.2999572753906,"wires":[["cf58adda.680a4"]]},{"id":"1bd2734e.c819bd","type":"function","z":"74bdb3d4.b4b2dc","name":"Cut In Temperature Change","func":"var evt = 'CutInTempChange';\nvar value = msg.payload;\ncontext.global.CutInTemperature=16;\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":730.0999145507812,"y":354.29998779296875,"wires":[["cf58adda.680a4"]]},{"id":"1e24960.6d9636a","type":"ui_text_input","z":"74bdb3d4.b4b2dc","name":"","label":"Service Engineer EMail ID","group":"6fcb09b.9a4d5f8","order":8,"width":"","height":"","passthru":true,"mode":"email","delay":300,"topic":"","x":411.24072265625,"y":515.0682983398438,"wires":[["113abf14.c8f841"]]},{"id":"e16a46.5f44c5b8","type":"ui_numeric","z":"74bdb3d4.b4b2dc","name":"Email frequency","label":"Email frequency [ seconds ]","group":"6fcb09b.9a4d5f8","order":9,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"120","x":383.74072265625,"y":583.0682983398438,"wires":[["55e390af.3960d"]]},{"id":"55e390af.3960d","type":"function","z":"74bdb3d4.b4b2dc","name":"AlertFrequencyChange","func":"var evt = 'alertFrequencyChange';\nvar value = msg.payload;\n\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n\n","outputs":1,"noerr":0,"x":721.99072265625,"y":582.8182983398438,"wires":[["cf58adda.680a4"]]},{"id":"d3b0c7b.fc20738","type":"inject","z":"74bdb3d4.b4b2dc","name":"Set Default Value","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":true,"x":179.49072265625,"y":583.0682983398438,"wires":[["e16a46.5f44c5b8"]]},{"id":"7b1bea32.b607c4","type":"inject","z":"74bdb3d4.b4b2dc","name":"","topic":"","payload":"36","payloadType":"num","repeat":"","crontab":"","once":true,"x":147.49072265625,"y":303.9293899536133,"wires":[["66371a3b.214e14"]]},{"id":"9461e7ba.96d628","type":"inject","z":"74bdb3d4.b4b2dc","name":"","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":true,"x":148.38656616210938,"y":354.95719146728516,"wires":[["627e44a5.926fbc"]]},{"id":"58180289.8100fc","type":"inject","z":"74bdb3d4.b4b2dc","name":"","topic":"","payload":"monitoringserviceengineer@gmail.com","payloadType":"str","repeat":"","crontab":"","once":true,"x":149.49072265625,"y":516.0683059692383,"wires":[["1e24960.6d9636a"]]},{"id":"66371a3b.214e14","type":"ui_numeric","z":"74bdb3d4.b4b2dc","name":"","label":"High temperature alarm threshold","group":"6fcb09b.9a4d5f8","order":2,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}} ˚C","min":"25","max":"40","x":439.49072265625,"y":303.63970947265625,"wires":[["a765f0a4.be803"]]},{"id":"5ee4e757.8c02c8","type":"ui_text","z":"74bdb3d4.b4b2dc","group":"6fcb09b.9a4d5f8","order":3,"width":"6","height":"1","name":"Desired temp. label","label":"Desired temp.","format":"","layout":"row-left","x":389.49072265625,"y":406.6397171020508,"wires":[]},{"id":"df95c9b.b3eae38","type":"inject","z":"74bdb3d4.b4b2dc","name":"","topic":"","payload":"23","payloadType":"num","repeat":"","crontab":"","once":true,"x":149.49072265625,"y":405.63970947265625,"wires":[["9af9df21.a8c1e"]]},{"id":"627e44a5.926fbc","type":"ui_numeric","z":"74bdb3d4.b4b2dc","name":"","label":"Low temperature alert threshold","group":"6fcb09b.9a4d5f8","order":5,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}} ˚C","min":"10","max":"25","x":427.49073791503906,"y":354.63970947265625,"wires":[["1bd2734e.c819bd"]]},{"id":"a0c46380.3276a","type":"ui_text","z":"74bdb3d4.b4b2dc","group":"6fcb09b.9a4d5f8","order":1,"width":0,"height":0,"name":"Intro. text","label":"These alert notification settings apply to all rooms.","format":"","layout":"row-spread","x":361.49072265625,"y":253.63970947265625,"wires":[]},{"id":"a5026cb1.0e991","type":"ui_text","z":"74bdb3d4.b4b2dc","group":"6fcb09b.9a4d5f8","order":6,"width":0,"height":0,"name":"Warning explanation","label":"Temperature outside the threshold range triggers an on-screen alert.","format":"","layout":"row-spread","x":399.49072265625,"y":446.63970947265625,"wires":[]},{"id":"9af9df21.a8c1e","type":"ui_text","z":"74bdb3d4.b4b2dc","group":"6fcb09b.9a4d5f8","order":4,"width":"2","height":"1","name":"Desired temp. value","label":"","format":"23 ˚C","layout":"row-left","x":709.49072265625,"y":406.63970947265625,"wires":[]},{"id":"6a73a713.625af8","type":"ui_text","z":"74bdb3d4.b4b2dc","group":"6fcb09b.9a4d5f8","order":7,"width":0,"height":0,"name":"Alert explanation","label":"High temperature threshold triggers an email alert.","format":"","layout":"row-spread","x":390,"y":481,"wires":[]}]
